doctype html

html(ng-app='Todos')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js")
    script(src="todos_controller.js")

  body(ng-controller="TodosCtrl")
    h1 All the things

    div#nav
      ul
        li
          a(href='#', ng-click="filterTodos()", ng-class="{ 'current' : selectedTab('') }") All
        li
          a(href='#work', ng-click="filterTodos('work')", ng-class="{ 'current' : selectedTab('work') }") Work
        li
          a(href='#online', ng-click="filterTodos('online')", ng-class="{ 'current' : selectedTab('online') }") Online
        li
          a(href='#home', ng-click="filterTodos('home')", ng-class="{ 'current' : selectedTab('home') }") Home
        li
          a(href='#out', ng-click="filterTodos('out')", ng-class="{ 'current' : selectedTab('out') }") Out
        li
          a(href='#apps', ng-click="filterTodos('apps')", ng-class="{ 'current' : selectedTab('apps') }") Char


    div#nav
      ul
        li
          a(ng-click="setWhen('today')", ng-class="{ 'current' : selectedWhen('today') }") Today
        li
          a(ng-click="setWhen('eventually')", ng-class="{ 'current' : selectedWhen('eventually') }") Eventually
        li
          a(ng-click="setWhen('notes')", ng-class="{ 'current' : selectedWhen('notes') }") Notes


    h3 To Do
    div(class="checkbox", ng-repeat="todo in filteredTodos | filter: {'when': getWhen() } | filter: {'done': false }")
      input(type="checkbox", ng-click="markDone(todo._id)")
      |  {{ todo.text }}

    div#todo-form
      div.text-center
        form
          div.form-group
            input(type="text", placeholder="Something I have to do", ng-model="newTodo.text")

          button(type="submit", ng-click="createTodo()") Add

    h3 Done
    div(class="checkbox", ng-repeat="todo in filteredTodos | filter: {'when': getWhen()} | filter: {'done': true }")
      input(type="checkbox", ng-click="deleteTodo(todo._id)")
      |  {{ todo.text }}
