doctype html

html(ng-app='Todos')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js")
    script(src="todos_controller.js")

  body(ng-controller="TodosCtrl")
    h1 All the things

    div#nav
      ul
        li
          a(href='#work', ng-click="filterTodos('work')", ng-class="{ 'current' : selectedTab('work') }") Work
        li
          a(href='#lunch', ng-click="filterTodos('lunch')", ng-class="{ 'current' : selectedTab('lunch') }") Lunch
        li
          a(href='#home', ng-click="filterTodos('home')", ng-class="{ 'current' : selectedTab('home') }") Home
        li
          a(href='#out', ng-click="filterTodos('out')", ng-class="{ 'current' : selectedTab('out') }") Out
        li
          a(href='#apps', ng-click="filterTodos('apps')", ng-class="{ 'current' : selectedTab('apps') }") Apps
        li
          a(href='#other', ng-click="filterTodos()", ng-class="{ 'current' : selectedTab('other') }") Other


    div#nav
      ul
        li
          a(ng-click="setWhen('asap')", ng-class="{ 'current' : selectedWhen('asap') }") ASAP
        li
          a(ng-click="setWhen('today')", ng-class="{ 'current' : selectedWhen('today') }") Today
        li
          a(ng-click="setWhen('eventually')", ng-class="{ 'current' : selectedWhen('eventually') }") Eventually


    div(class="checkbox", ng-repeat="todo in filteredTodos | filter: {'when': getWhen() }")
      input(type="checkbox", ng-click="deleteTodo(todo._id)")
      |  {{ todo.text }}

    div#todo-form
      div.text-center
        form
          div.form-group
            input(type="text", placeholder="Something I have to do", ng-model="newTodo.text")

          button(type="submit", ng-click="createTodo()") Add
