doctype html

html(ng-app='Todos')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js")

    script(src="app.module.js")
    script(src="todo-list/todo-list.module.js")
    script(src="todo-list/todo-list.component.js")


  body
  todo-list(when='today')
  todo-list(when='eventually')
