doctype html

html(ng-app='Todos')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js")

    script(src="app.module.js")
    script(src="todo-list/todo-list.module.js")
    script(src="todo-list/todo-list.component.js")


  body
  h1 Todos                                                                                                 
                                                                                                           
  div#nav                                                                                                  
    ul                                                                                                     
      li                                                                                                   
        a(href='#all', ng-click="filterTodos()", ng-class="{ 'current' : selectedTab() }") All                
      li                                                                                                   
        a(href='#home', ng-click="filterTodos('home')", ng-class="{ 'current' : selectedTab('home') }") Home   
      li                                                                                                   
        a(href='#work', ng-click="filterTodos('work')", ng-class="{ 'current' : selectedTab('work') }") Work   
      li                                                                                                   
        a(href='#out', ng-click="filterTodos('out')", ng-class="{ 'current' : selectedTab('out') }") Out      

  todo-list(when='today')
  todo-list(when='eventually')
