doctype html

html(ng-app='Todos')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js")
    script(src="core.js")

  body(ng-controller="mainController")
    h1 All the things

    div#nav
      ul
        li
          a(href='#', ng-click="filterTodos()", ng-class="{ 'current' : selectedTab() }") All
        li
          a(href='#', ng-click="filterTodos('home')", ng-class="{ 'current' : selectedTab('home') }") Home
        li
          a(href='#', ng-click="filterTodos('work')", ng-class="{ 'current' : selectedTab('work') }") Work
        li
          a(href='#', ng-click="filterTodos('out')", ng-class="{ 'current' : selectedTab('out') }") Out

    div(class="checkbox", ng-repeat="todo in filteredTodos")
      input(type="checkbox", ng-click="deleteTodo(todo._id)")
      | {{ todo.text }}

    div#todo-form
      div.text-center
        form
          div.form-group
            input(type="text", placeholder="Something I have to do", ng-model="newTodo.text")

          button(type="submit", ng-click="createTodo()") Add
